@import '../../sass/variables.scss';

.createTransaction {
    @include background-properties();

    .title {
        @include box(white, $red-color);
    }
    
    .formContainer {
        form {
            display: flex;
            flex-direction: column;      
    
            @include box($brown-color, white);
        }
    }

    .inputContainer {
        width: 400px;
    }

    input,
    select {
        margin-top: 2rem;
        font-size: 20px;
        color: gray;
               
    }

    input[type=text] {
        width: 492px; 
    }
    select {
        width: 500px; 
    }

    input[type=submit] {
        @include blue-button();
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 3rem;
    }
    input[type=submit]:hover {
        @include blue-button-hover();
    }

    .error {
        position: absolute;
        color: $red-error-color;
        margin: 0;
    }
}
