@import '../../sass/variables.scss';


.registerContainer {
    @include background-properties();
}

.register {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
    }

    input {
        width: 100%;
        margin-top: 2rem;

    }

    width: 500px;

    .buttonContainer {
        width: inherit;
        display: flex;
        justify-content: center;

        .signUpButton {
            @include blue-button();
            margin-top: 3rem;
            margin-bottom: 1rem;
        }

        .signUpButton:hover {
            @include blue-button-hover();
        }
    }

}

.signUp {
    @include box(white, $red-color, 500px);
}

.registerForm {
    @include box($brown-color, white, 500px);

    display: flex;
    justify-content: center;

    input {
        font-size: 20px;
    }
}

.error {
    position: absolute;
    color: $red-error-color;
    margin: 0;
}


@media (max-width: 850px) {
    .registerContainer {
        @include background-properties();
    }

    .register {
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 300px;
        }

        input {
            width: 100%;
            margin-top: 2rem;
        }

        width: 300px;

        .buttonContainer {
            width: inherit;
            display: flex;
            justify-content: center;

            .signUpButton {
                @include blue-button();
                margin-top: 3rem;
                margin-bottom: 1rem;
            }

            .signUpButton:hover {
                @include blue-button-hover();
            }
        }

    }

    .signUp {
        @include box(white, $red-color, 300px);
    }

    .registerForm {
        @include box($brown-color, white, 300px);

        display: flex;
        justify-content: center;

        input {
            font-size: 20px;
        }
    }
}


@media (max-width: 480px) {
    .registerContainer {
        @include background-properties();
    }

    .register {
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 250px;
        }

        input {
            width: 100%;
            margin-top: 2rem;
        }

        width: 300px;

        .buttonContainer {
            width: inherit;
            display: flex;
            justify-content: center;

            .signUpButton {
                @include blue-button();
                margin-top: 3rem;
                margin-bottom: 1rem;
            }

            .signUpButton:hover {
                @include blue-button-hover();
            }
        }

    }

    .signUp {
        @include box(white, $red-color, 250px);
    }

    .registerForm {
        @include box($brown-color, white, 250px);

        display: flex;
        justify-content: center;

        input {
            font-size: 15px;
        }
    }
}