@import '../../sass/variables.scss';


.loginContainer {
    @include background-properties();
}

.login {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
    }

    input {   
        width: 100%;     
        margin-top: 2rem;
        font-weight: 200;

    }

    width: 500px;

    .buttonContainer {
        width: inherit;
        display: flex;
        justify-content: center;

        .loginButton {
            @include blue-button();
            margin-top: 3rem;
            margin-bottom: 1rem;
            padding: 1rem;
        }

        .loginButton:hover {
            @include blue-button-hover();
        }

        .loaderContainer {
            @include blue-button();
            margin-top: 3rem;
            margin-bottom: 1rem;
            padding: 1rem;  
            width: inherit;
            display: flex;
            justify-content: center;
            align-items: center;          
        }
    }
}

.signIn {
    @include box(white, $red-color, 500px);
}

.loginForm {
    @include box($brown-color, white, 500px);
    
    display: flex;
    justify-content: center;

    input {
        font-size: 20px;
    }
}

.error {
    position: absolute;
    color: $red-error-color;
    margin: 0;
}


@media (max-width: 850px) {
    .loginContainer {
        @include background-properties();
    }

    .login {
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 300px;
        }

        input {
            width: 100%;
            margin-top: 2rem;
        }

        width: 300px;

        .buttonContainer {
            width: inherit;
            display: flex;
            justify-content: center;

            .signInButton {
                @include blue-button();
                margin-top: 3rem;
                margin-bottom: 1rem;
            }

            .signInButton:hover {
                @include blue-button-hover();
            }
        }

    }

    .signIn {
        @include box(white, $red-color, 300px);
    }

    .loginForm {
        @include box($brown-color, white, 300px);

        display: flex;
        justify-content: center;

        input {
            font-size: 20px;
        }
    }
}

@media (max-width: 480px) {
    .loginContainer {
        @include background-properties();
    }

    .login {
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 250px;
        }

        input {
            width: 100%;
            margin-top: 2rem;
        }

        width: 300px;

        .buttonContainer {
            width: inherit;
            display: flex;
            justify-content: center;

            .signInButton {
                @include blue-button();
                margin-top: 3rem;
                margin-bottom: 1rem;
            }

            .signInButton:hover {
                @include blue-button-hover();
            }
        }

    }

    .signIn {
        @include box(white, $red-color, 250px);
    }

    .loginForm {
        @include box($brown-color, white, 250px);

        display: flex;
        justify-content: center;

        input {
            font-size: 15px;
        }
    }
}